body {
    margin: 0;
}

.header {
    background-color: #1da6bb;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #FFFFFD;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.nav li:hover {
    color: #124054;
    cursor: pointer;
}